@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{font-family: 'Roboto-Regular';background: #d5d2d2;}
header .navbar{padding: .5rem 0;}

header nav.navbar .navbar-brand{color:rgb(71, 5, 192);}
section.todo-outer {
    width: 100%;
    float: left;
    padding: 30px 0;
}
section.todo-outer h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.todo-inner {
    width:70%;
    float: center;
    padding: 40px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background: #fff;
}
/* table tr td button {
    background: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
} */
.completed{text-decoration: line-through;}


input .search{
    border-radius: 20px;
}
.form-show-row{
    display: flex;
  
    flex-direction: column;
}
.form-input{
    display: flex;
    flex-direction: column;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
 .btn-delete{
    background-color: red;
}
.btn-complete{
    background-color: rgb(89, 83, 193);
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=search], select {

    width:100%;
    padding: 8px 10px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:20px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }